.cartPageWrapper {
  max-width: 100.97rem;
}

.cartPageHeader {
  margin: 8rem 0 6rem 0;
  text-transform: uppercase;
}

.cartPageHeader h1 {
  font-size: 3.2rem;
  font-weight: 700;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
}
