header {
  display: flex;
  justify-content: space-between;
  min-height: 8rem;
  align-items: center;
}

header .navCategories {
  font-size: 1.6rem;
}

.navCategories a:first-child {
  padding-right: 2em;
}

.logo {
  width: 12rem;
  margin: auto;
}

.cartContainer {
  display: flex;
}

.cartContainer .cart {
  margin-left: 2.2rem;
}
