.productWrapper {
  position: relative;
  transition: 0.24s;
  cursor: pointer;
}

.productWrapper:hover {
  box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
  transform: translateY(-20px);
}

.product {
  width: 35.4rem;
  min-height: 41.2rem;
  padding: 1.6rem;
}

.notInStockBox {
  opacity: 50%;
}

.notInStock {
  font-size: 2.4rem;
  color: #8d8f9a;
  z-index: 1;
  width: 18rem;
  position: absolute;
  top: 16.5rem;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-size: 1.8rem;
  font-weight: 300;
}

.price {
  font-size: 1.8rem;
  font-weight: 500;
}

.productCard {
  position: absolute;
  bottom: 80px;
  right: 31px;
  display: none;
}

.productWrapper:hover .productCard {
  display: block;
}
